body {
  background-color: gray;
}
h1 {
  border: 1px solid black;
  text-align: center;
  background-color: yellowgreen;
}

p {
  background-color: blue;
  width: 10%;
  color: white;
}

.main-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}
