h1 {
  border: 1px solid black;
  text-align: center;
  background-color: yellowgreen;
}

p {
  background-color: yellowgreen;
  width: 20vw;
  height: 10vh;
  color: black;
}

.main-container {
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: green;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}
